<% if signed_in? %>
 <div class="row">
	<%= render 'shared/user_info' %>
	<%= render 'shared/feed' %>

</div>

<% else %>
<div class="jumbotron">
      <div class="container">
        <h1>Welcome to Twitter.</h1>
        <p>Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.</p>
        <p><%= link_to 'Sign up now!', signup_path, class: 'btn btn-primary btn-lg' %></p>
      </div>
    </div>
<% end  %>