<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
		<br>
  			<%= gravatar_for(current_user, size: 210) %> 
			<h3 style="text-align:center"> <%= current_user.name %></h3>
	
		<br>
		 	<%= render 'shared/micropost_form' %>
		
	</div>