@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #eee;
}

.navbar-default {
  background-color: #222
}

.navbar-default .navbar-brand {
  color: #5bc0de;
  font-weight: lighter;
  font-size: 24px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #222;
  padding-top: 10px;
  text-align: center;
}
